node_modules
build
src/core/driver/Profile/Default/DawnCache/
src/core/driver/Profile/Default/Cache/
src/core/driver/Profile/Default/Code Cache/
src/core/driver/Profile/Default/GPUCache/
!src/core/driver/Profile/
src/core/driver/Profile/**
!src/core/driver/Profile/Default/